*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}

header {
  margin: 0 auto;
  padding: 10px 240px;
  width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

header h1 {
  display: inline-block;
}

header button {
  height: fit-content;
}

#map {
  position: relative;
  margin: 0 auto;
  width: 800px;
  height: 600px;
  background-image: url("../images/background.jpg");
}

.food {
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("../images/food.png");
  background-size: cover;
}

.snake {
  position: absolute;
  width: 20px;
  height: 20px;
  /* background-image: url("../images/head.png"); */
  background-size: cover;
}